*{
    padding: 0px;
    margin: 0px;
    background-color: black;
}
#clock_heading{
    color: aliceblue;
    margin: auto;
    width: 30rem;
    border: 2px solid red;
    margin-top: 4rem;
    font-size: 5rem;
    text-align: center;
    border-radius: 10px;

}

#clock{
    display: flex;
    width: 19rem;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 10rem;

}
.Clock_hands {
    border: 4px solid  rgb(10, 240, 10);
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

 }